form.search(method="GET" action="/placeholder.html")
    input.search__input(type="search" name="search" placeholder="Search for the location!")
    button.btn.btn--action.search__button(type="submit") Search