section.hero
    .hero__left
        include ../logo/logo
        h1.h1 find the place to live
            svg(viewBox="0 0 100 50")
                text.h1__stroked(x="0" y="16") your dreams
            |  easily here
        .hero__under-title Everything you need about finding your place to live will be here, where it will be easier for you
        //include ../search/search
        //include ../partners/partners
        //include ../hero-stats/hero-stats
    .hero__right
        include ../menu/menu