.house-detail__items
    .house-detail__item.icon--bed 4 Bedrooms
    .house-detail__item.icon--bath 2 Bathrooms
    .house-detail__item.icon--car 1 Carport
    .house-detail__item.icon--stairs 2 Floors