section.tour
    .tour__left
        .outline Ready to sell!
        h2.h2 Let’s tour and see our house!
        .tour__undertitle Houses recommended by our partners that have been curated to become the home of your dreams!
        .tour__detail.house-detail
            h3.h3 House detail
            include ../house-detail/house-detail
        .tour__contact
            img.tour__contact.avatar.avatar--big
            .tour__contact-text
                .tour__contact-name Dianne Russell
                .tour__contact-post Manager Director
            a.btn.btn--contact(href="tel:+123456" title="Call manager") Contact Now
    .tour__right