footer.footer
    .footer__column
        .footer__logo
            include ../logo/logo
        .footer__left-text We provide information about properties such as houses, villas and apartments to help people find their dream home
        .footer__socials
            a.footer__social-item(href="https://ru-ru.facebook.com" target="_blank")
                svg.footer__social-icon
                    use(href="img/sprite.svg#footer__fb")
            a.footer__social-item(href="https://twitter.com/?lang=ru" target="_blank")
                svg.footer__social-icon
                    use(href="img/sprite.svg#footer__twitter")
            a.footer__social-item(href="https://www.instagram.com" target="_blank")
                svg.footer__social-icon
                    use(href="img/sprite.svg#footer__instagram")
    .footer__column
        h3.footer__title Property
        a.footer__link(href="#") House
        a.footer__link(href="#") Apartment
        a.footer__link(href="#") Villa
    .footer__column
        h3.footer__title Article
        a.footer__link(href="#") New Article
        a.footer__link(href="#") Popular Article
        a.footer__link(href="#") Most Read
        a.footer__link(href="#") Tips & Tricks
    addrress.footer__column
        h3.footer__title Contact
        a.footer__link(href="https://goo.gl/maps/WmecA94NbUtbcX1X7" target="_blank") 2464 Royal Ln. Mesa, New Jersey 45463
        a.footer__link(href="+16715550100") (671) 555-0110
        a.footer__link(href="mailto:info@hounter.com" target="_blank") info@hounter.com