h2.h2 Featured house
.featured-controls
    .featured-controls__filter
        button.btn.btn--house House
        button.btn.btn--Villa Villa
        button.btn.btn--Apartment Apartment
    .featured-controls__arrows
        button.btn.btn--left
        button.btn.btn--right
