.signup {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(118, 255, 180, 1) 100%);

  &__input {
    display: flex;
    border-radius: 32px;
    padding: 15px 25px;
    margin-bottom: 15px;
    color: var(--neutral-700);
    border: none;

    &::placeholder {
      color: var(--neutral-500);
    }
  }

  &__button {
    cursor: pointer;
    font-size: 20px;
    padding: 15px 25px;

    &--close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 18px;
      line-height: 1;
    }
  }

  &--open {
    display: flex;
  }
}