form.signup
    .signup__container
        button.signup__button.signup__button--close.btn X
        input.signup__input(type="text" name="username" placeholder="Your name" required)
        input.signup__input(type="email" name="email" placeholder="Your email" required)
        input.signup__input(type="password" name="password" placeholder="Enter Password" required)
        input.signup__input(type="password" name="password-repeat" placeholder="Repeat password, please" required)
        button.signup__button.btn.btn--action(type="submit") Submit