form.signup(method="GET" action="send.php")
    .signup__container
        button.signup__button.signup__button--close.btn X
        input.signup__input(type="text" name="username" placeholder="Your name")
        input.signup__input(type="email" name="email" placeholder="Your email")
        input.signup__input(type="password" name="password" placeholder="Enter Password")
        input.signup__input(type="password" name="password-repeat" placeholder="Repeat password, please")
        button.signup__button.btn.btn--action(type="submit") Submit