.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__image {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--headline);
  }
}