.featured {

  &__header {
    padding: 0 15px;

    @media (min-width: $screen-sm) {
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;
    }

    @media (min-width: $screen-xl) {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
  }

  &__h2 {
    @media (min-width: $screen-lg) {
      padding-left: 40px;
      margin-bottom: 0;
    }
  }

  &__outline {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.2;

    @media (min-width: $screen-xl) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-sm) {
      justify-content: space-between;
    }
  }

  &__filter {

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-lg) {
      margin-right: 30px;
    }

    @media (min-width: $screen-xl) {
      margin-right: 140px;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 136px;
  }

  &__arrow {
    padding: 17px 25px;
    background: var(--color-neutral);
    border-radius: 32px;

    &:first-child {
      margin-right: 16px;

      .featured__arrow-icon {
        transform: rotate(180deg);
      }
    }

    &--active {
      background: var(--green-500);

      .featured__arrow-icon {
        fill: var(--color-bright);
      }
    }

    &:hover {
      background: var(--green-100);
      .featured__arrow-icon {
        fill: var(--neutral-700);
      }
    }
  }

  &__arrow-icon {
    width: 9px;
    height: 18px;
    fill: var(--neutral-700);
    transition: all ease .2s;
  }

  &__btn {
    position: relative;
    font-weight: 400;
    border: 1px solid var(--color-neutral);
    color: var(--neutral-500);
    padding: 12px 14px 12px 46px;

    &:hover {
      background: var(--green-100);
    }

    &:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 5px;
    }

    &--active {
      color: var(--green-500);
      background: var(--green-100);
      border-color: var(--green-100);

      &:hover {
        background: var(--green-100);
      }

      .featured__btn-icon {
        fill: var(--green-500);
      }

    }

    @media (min-width: $screen-sm) {
      padding-right: 22px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-md) {
      font-size: 18px;
      line-height: 1.5;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @media (min-width: $screen-xl) {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  &__btn-icon {
    position: absolute;
    left: 27px;
    top: 50%;
    width: 18px;
    height: 19px;
    transform: translateY(-50%);
    fill: var(--neutral-500);
  }

  &__btn-text {
    margin-left: 10px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    width: 80%;
    max-width: 320px;

    @media (min-width: $screen-lg) {
      max-width: 340px;
    }
  }

  &__item-name {
    margin: 24px 0 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--neutral-900);
  }

  &__item-price {
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    color: var(--neutral-700);
  }

  &__figure {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: 260px;
    border-radius: 24px;
    overflow: hidden;
    object-fit: cover;

    @media (min-width: $screen-sm) {
      height: 382px;
    }
  }

  &__tag {
    position: absolute;
    bottom: 16px;
    left: 16px;
    letter-spacing: 1px;

    &::after {
      display: block;
      position: relative;
      border-radius: 32px;
      padding: 10px 15px 10px 42px;
      background: center left 20px no-repeat;
    }

    &--popular::after {
      content: 'Popular';
      background-image: url("img/sprite.svg#featured__popular");
      background-color: var(--red-100);
      background-size: 12px 14px;
      color: var(--red-500);
    }

    &--new::after {
      content: 'New House';
      background-image: url("img/sprite.svg#featured__new");
      background-color: var(--blue-100);
      background-size: 12px 13px;
      color: var(--blue-700);
    }

    &--best::after {
      content: 'Best Deals';
      background-image: url("img/sprite.svg#featured__best");
      background-color: var(--green-100);
      background-size: 14px 14px;
      color: var(--green-700);
    }
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 145px;
  }

}
