.user {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;

  &__img {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--neutral-700);
  }

  &__info {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--neutral-500);
  }

  &--big {

    .user__img {
      width: 56px;
      height: 56px;
      margin-right: 24px;
    }

    .user__name {
      font-size: 18px;
      line-height: 1.6;
    }

    .user__info {
      font-size: 16px;
    }
  }

  &--mid {
    padding-top: 2px;

    .user__img {
      width: 40px;
      height: 40px;
      margin-right: 17px;
    }

    .user__name {
      font-size: 18px;
    }
  }

  &--small {
    .user__img {
      width: 32px;
      height: 32px;
    }
  }
}