section.review
    .outline See our review
    h2.h2 What Our User Say About Us
    .review-slider
        .review-slider__item
            img.review-img(src="" alt="house picture")
            .review-content
                h3.review-content__title Best! I got the house I wanted through Hounter
                .review-content__text Through this website I can get a house with the type and specifications I want very easily, without a complicated process to be able to find information on the house we want.
                .review-content__info
                    img.avatar--small()
                    .review-content__user-info
                        .revuew-content__user-name Dianne Russell
                        .revuew-content__user-post Manager Director
                    .review__rate 4.6