ul.stats
    li.stats__item
        .stats__images
            img.stats__avatar(src="img/ava-1.jpg")
            img.stats__avatar(src="img/ava-2.jpg")
            img.stats__avatar(src="img/ava-3.jpg")
        .stats__text
            .stats__title 1K+ People
            .stats__undertitle Successfully Getting Home
    li.stats__item
        .stats__images
            img.stats__avatar.stats__avatar--squared(src="img/house-1.jpg")
        .stats__text
            .stats__title 56 Houses
            .stats__undertitle Sold Monthly
    li.stats__item
        .stats__images
            img.stats__avatar(src="img/ava-4.jpg")
        .stats__text
            .stats__title 4K+
            .stats__undertitle People Looking for New Homes