.menu {
  width: 100%;
  display: flex;

  &__content {
    display: none;
    padding: 15px 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(124, 191, 224);
    background: linear-gradient(173deg, rgba(124, 191, 224, 1) 22%, rgba(171, 206, 227, 1) 64%);

    @media (min-width: $screen-md) {
      padding: 5px;
      display: flex;
      background: none;
      align-items: flex-end;
      justify-content: flex-start;
      height: unset;
    }

    @media (min-width: $screen-lg) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $screen-xl) {
      padding-right: 0;
      padding-left: 0;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      flex-direction: row;
      margin-bottom: 15px;
    }

    @media (min-width: $screen-xl) {
      margin-right: 56px;
      margin-bottom: 0;
    }
  }

  &__button {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    background: var(--logo-green);
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      border-bottom: 3px solid white;
      border-radius: 3px;
    }

    &::before {
      margin-top: -8px;
    }

    &::after {
      margin-top: 8px;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__btn-link {
    display: inline-flex;
    color: var(--neutral-100);
    text-decoration: none;
    margin-bottom: 15px;
    transition: all ease-in-out .1s;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: $screen-md) {
      margin-right: 5px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-lg) {
      margin-right: 21px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__option-link {
    background: transparent;
  }

  &--open &__content {
    display: flex;
  }

  &--open {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .menu__button {

      &::before {
        transform: rotate(45deg);
        margin-top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        margin-top: 0;
      }
    }
  }

  @media (min-width: $screen-lg) {
    position: relative;
    z-index: 1;
  }
}