.menu
    a.btn.menu__btn(href="#") About us
    a.btn.menu__btn(href="#") Article
    select.menu__select(name="property-select")
        option.menu__option(value="0")
            a.menu__option-link(href="#") Property
        option.menu__option(value="house")
            a.menu__option-link(href="#") House
        option.menu__option(value="villa")
            a.menu__option-link(href="#") villa
        option.menu__option(value="apartment")
            a.menu__option-link(href="#") apartment
    button.btn.btn--signup Sign Up!