doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Денис Каракчиев
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
        link(rel="manifest" href="site.webmanifest")
        link(rel="mask-icon" href="safari-pinned-tab.svg" color="#666")
        meta(name="msapplication-TileColor" content="#666")
        meta(name="theme-color" content="#666")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600&display=swap", rel="stylesheet")

        link(rel="stylesheet" href="main.css")

    body
        header
            .avatar__wrapper
                picture
                    source(srcset="images/avatar.webp")
                    img.avatar(src="images/avatar.jpg" alt="Фото на фоне Школы 21")
                img.avatar.avatar--anime(src="images/me_anime.jpg" alt="Аниме версия аватара")
            .title
                h1 Денис Каракчиев
                h2 Примеры работ

        main.items
            .item__wrapper
                a.item(href="https://houter-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
                    figure
                        picture
                            source(type="image/webp" srcset="images/houter.webp")
                            img(src="images/houter.jpg" alt="Главная страница сайта о недвижимости")
                        figcaption Страница о недвижимости
                a.item__code-link(href="" target="_blank") Код проекта
            .item__wrapper
                a.item(href="https://fitnes-lp-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
                    figure
                        picture
                            source(type="image/webp" srcset="images/fitnes-lp.webp")
                            img(src="images/fitnes-lp.jpg" alt="Лэндинг о фитнесе")
                        figcaption Страница о фитнесе
                a.item__code-link(href="https://github.com/lalivirtei/fitnes-lp" target="_blank") Код проекта

            .item__wrapper
                a.item(href="https://tick-tack-toe-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
                    figure
                        picture
                            source(type="image/webp" srcset="images/tick-tack-toe.webp")
                            img(src="images/tick-tack-toe.jpg" alt="Крестики-нолики на React")
                        figcaption Мини-игра на React
                a.item__code-link(href="https://github.com/lalivirtei/tic-tac-toe" target="_blank") Код проекта

        footer

        script(src="script.min.js")