@import "node_modules/normalize.css/normalize";

:root {
  --dark-900: #35363a;
}

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

body {
  background: var(--dark-900);
  padding: 15px;
  min-width: 340px;
  font-size: 20px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  color: #fff;

  @media (min-width: $screen-lg) {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  font-weight: normal;
  font-size: 36px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;

  @media (max-width: $screen-sm) {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    justify-items: center;
  }
}

.item {
  display: block;
  width: 250px;
  height: 350px;

  text-decoration: none;
  position: relative;

  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease-in-out all;

  @media (min-width: $screen-lg) {
    width: 250px;
    height: 350px;

    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(2px);
    opacity: 0.5;

    &:hover {
      transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
      filter: blur(0);
      opacity: 1;
      box-shadow: 15px 15px 15px 15px #262626;
    }
  }


  figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  picture {
    width: 100%;
    height: 100%;
  }

  figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 22px;
    color: #000;
    background: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}