@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import "node_modules/normalize.css/normalize";
@import "blocks/portfolio-item";

:root {
  --dark-900: #35363a;
}

$screen-md: 768px;
$screen-lg: 992px;

body {
  background: var(--dark-900);
  padding: 15px;
  min-width: 340px;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;

  @media (min-width: $screen-lg) {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  font-family: 'Frijole', cursive;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 100px;
  margin-top: 0;

  @media (min-width: $screen-md) {
    font-size: 64px;
  }

}