.portfolio-item {
  display: block;
  text-decoration: none;

  figure {
    display: flex;
    align-items: center;
    margin: 0;
  }

  figcaption {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 15px;
  }
}