a.portfolio-item(href="http://f0779160.xsph.ru/houter/index.html" target="_blank" title="Открыть демо")
    figure
        picture
            source(type="image/webp" srcset="build/images/houter.webp")
            img(src="build/images/houter.jpg" alt="Главная страница сайта о недвижимости")
        figcaption Вёрстка лэндинга Houter

a.portfolio-item(href="https://tick-tack-toe-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
    figure
        picture
            source(type="image/webp" srcset="build/images/tick-tack-toe.webp")
            img(src="build/images/tick-tack-toe.jpg" alt="Крестики-нолики на React")
        figcaption Крестики-нолики на React