a.portfolio-item(href="https://houter-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
    figure
        picture
            source(type="image/webp" srcset="build/images/houter.webp")
            img(src="build/images/houter.jpg" alt="Главная страница сайта о недвижимости")
        figcaption [Houter] Страница о недвижимости

a.portfolio-item(href="https://fitnes-lp-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
    figure
        picture
            source(type="image/webp" srcset="build/images/fitnes-lp.webp")
            img(src="build/images/fitnes-lp.jpg" alt="Лэндинг о фитнесе")
        figcaption [Workout] Лэндинг о фитнесе

a.portfolio-item(href="https://tick-tack-toe-lalivirtei.netlify.app/" target="_blank" title="Открыть демо")
    figure
        picture
            source(type="image/webp" srcset="build/images/tick-tack-toe.webp")
            img(src="build/images/tick-tack-toe.jpg" alt="Крестики-нолики на React")
        figcaption [Мини-игра на React] Крестики-нолики
