a.portfolio-item(href="http://f0779160.xsph.ru/houter/index.html" target="_blank" title="Открыть в новом окне")
    figure
        img(src="build/images/houter.jpg" title="Превью" alt="Превью")
        figcaption Вёрстка лэндинга Houter
