a.portfolio-item(href="http://f0779160.xsph.ru/houter/index.html" target="_blank" title="Открыть демо")
    figure
        picture
            source(type="image/webp" srcset="build/images/houter.webp")
            img(src="build/images/houter.jpg" alt="Главная страница сайта о недвижимости")
        figcaption Вёрстка лэндинга Houter
