section.tips
    .outline.outline--top-line See tips and trick from our partnership
    h2.h2 Find out more about
        | selling and buying homes
    button.btn.btn--no-icon More Artikel
    .tips__left
        .tips__item.tips__item--small
            img.tips__item-image()
            .tips__item-content
                .tips__user
                    img.tips__user-image
                    .tips__user-name Dianne Russell
                .tips__tite The things we need to check when we want to buy a house
                .tips__info
                    span.tips__info--estimate 4 min read
                    span.tips__info--date 25 Apr 2021
    .tips__right
        .tips__item.tips__item--big
            img.tips__item-image()
            .tips__item-content
                .tips__user
                    img.tips__user-image
                    .tips__user-name Dianne Russell
                .tips__tite The things we need to check when we want to buy a house
                .tips__info
                    span.tips__info--estimate 4 min read
                    span.tips__info--date 25 Apr 2021