:root {
  --text-main: #1b1c57;
  --text-remark: #626687;
  --text-secondary: #888b97;
  --text-subheadline:  #68799F;
  --opacity-basic: .75;
  --btn-bg: #10b981;
}

.body {
  position: relative;
  font-family: Lexend, sans-serif;
  color: var(--text-main);
  background-repeat: no-repeat;
  background-image: url("img/bg-blur-1.svg");
  background-position: left top;
  background-size: 700px 500px;
}

.container {
  @media (min-width: 1140px) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.h1__stroked {
  font-family: sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-main);
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #f0f3fd;
}

.h1 {
  text-transform: capitalize;
  font-weight: 900;
}

.avatar {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;

  &--big {
    width: 56px;
    height: 56px;
    border: 3px solid #fff;
  }
}