:root {
  --headline: #1b1c57;
  --text-subheadline: #68799f;
  --logo-orange: #f59e0b;
  --logo-green: #4be4c9;
  --color-neutral: #e0e3eb;
  --color-bright: #fff;
  --white: #fff;
  --red-100: #fee2e2;
  --red-500: #ef4444;
  --blue-100: #dbeafe;
  --blue-700: #1d4ed8;
  --green-100: #d1fae5;
  --green-500: #10b981;
  --green-700: #047857;
  --neutral-100: #f0f3fd;
  --neutral-200: #626687;
  --neutral-300: #e0e3eb;
  --neutral-500: #888b97;
  --neutral-700: #3c4563;
  --neutral-900: #0e1735;

  --opacity-basic: .75;
  --opacity-picture: .7;

  --shadow-smooth-2: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));

  --transite-btn: all ease-in-out .1s;

  --radius: 32px;
}

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1220px;

.body {
  position: relative;
  font-family: Lexend, sans-serif;
  font-weight: 400;
  color: var(--headline);
  background: url("img/sprite.svg#body__bg") left -100px top /cover no-repeat;
  min-width: 320px;

  @media (min-width: $screen-lg) {
    background-position: center top;
  }

  &--no-scroll {
    overflow: hidden;
  }
}

.h2 {
  margin-top: 5px;
  text-transform: capitalize;

  @media (min-width: $screen-sm) {
    font-size: 32px;
    line-height: 1.3;
  }
}

.container {
  @media (min-width: $screen-lg) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.btn {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  color: var(--neutral-100);
  transition: var(--transite-btn);

  &--action {
    padding: 13px 16px;
    background: var(--green-500);
    color: var(--white);

    &:hover {
      color: var(--green-100);
      background-color: var(--green-700);
    }
  }

  &--signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 23px;
    border-radius: 32px;

    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: var(--green-700);
    background: var(--green-100);

    &:hover {
      transform: none;
      color: var(--green-100);
      background: var(--green-700);
    }

    &:active {
      transform: none;
      color: var(--green-700);
      background: var(--green-100);
    }
  }
}

*:focus {
  outline: var(--logo-orange) solid 2px;
}

.outline {
  position: relative;
  padding-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: var(--logo-orange);
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 32px;
    height: 1px;
    background: var(--logo-orange);
  }

  &--top {
    padding-left: 0;
    padding-top: 9px;
    justify-content: center;

    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);

    }
  }
}

section {
  margin-bottom: 60px;

  @media (min-width: $screen-sm) {
    margin-bottom: 80px;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 100px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 120px;
  }
}