:root {
  --text-main: #1B1C57;

}

.body {
  position: relative;
  padding: 15px;
  font-family: Lexend, sans-serif;
  color: var(--text-main);
  background-repeat: no-repeat;
  background-image: url("img/bg-blur-1.svg");
  background-position: left top;
  background-size: 700px 500px;
}

.container {
  @media (min-width: 1140px) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.h1__stroked {
  font-family: sans-serif;
  font-size: 16px;
  stroke-width: .3;
  stroke: var(--text-main);
  fill: none;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #F0F3FD;
}

.h1 {
  text-transform: capitalize;
  font-weight: 900;
}