doctype html
head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Houter
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#fff")
    link(rel="stylesheet" href="/main.css")
body.body
    include blocks/user/user
    include blocks/hero/hero
    include blocks/featured/featured
    include blocks/tour/tour
    include blocks/review/review
    include blocks/articles/articles
    include blocks/subscriber/subscriber
    include blocks/footer/footer

    script.
        let tag = document.createElement('script');
        tag.src = 'https://www.youtube.com/iframe_api';
        let firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        let player;
        // this function will be called automatically !
        function onYouTubeIframeAPIReady() {
            // console.log("this func is automatically called");
            player = new YT.Player('tour__iframe', {
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange,
                    'onError': onPlayerError,
                }
            });
        }

        function onPlayerReady(event) {
            // console.log('video is ready');
        }

        function onPlayerStateChange(event) {
            // console.log(event.data);
        }
        function onPlayerError(event) {
            // console.log(event.data);
        }
    script(src="scripts.min.js")
