img {
  width: 300px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px;
}

thead th,
tfoot td,
tbody td {
  border: 2px solid dimgray;
}

thead th,
tfoot td,
tfoot td {
  text-align: center;
}

thead tr:first-child th {
  border: none;
  padding: 0;
  font-weight: normal;
}
